<a href="https://colab.research.google.com/github/Rinniedh/Python_practice/blob/main/lab_assignment_01_notebook_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TBANLT 570 - Lab Assignment 01 - A Crash Course in Python!
This lab assignment will introduce you to the Python programming language, which we will use extensively throughout our class. Although Python is easy to learn, it is also very powerful and can be used to perform a wide variety of data manipulation, data analysis, and data visualization tasks, including state-of-the-art data science and text mining.

###Learning Objectives
By the time you finish this lab assignment, you will know:
1. How to write comments in Python.
2. How to declare and assign values to both string (text) variables and numerical variables in Python.
3. How to declare and assign values to lists in Python.
4. How to use indexing to access the values of list items in Python.
5. How to add new values to an existing list in Python.
6. How to declare and work with tuples in Python.
7. How to declare and work with dictionaries in Python.
8. How to perform mathematical operations in Python.
9. How to perform comparisons in Python.
10. How to use logical operators in Python.
11. How to declare and use functions in Python.
12. How to import and use libraries in Python.
13. How to use `if` statements in Python.
14. How to declare and use `for` loops in Python.

### Comments in Python
Just like any other programming language, Python allows us to include comments in our programs. Comments are great because they allow us to add natural language descriptions and explanatory notes to our code. Comments are ignored by Python when our programs are running. It's important to use lots of comments in our projects in order to help ourselves and other humans  understand what is happening in our code.

**TASK 01**:
>Read [this page](https://www.w3schools.com/python/python_comments.asp) to learn more about using comments in Python.

**QUESTION 01**:
>Which symbol can be used to indicate a comment in Python? #

### Variables in Python
A variable is a named storage location that we can use to hold different data values. In Python, we don't need to use a specific command to declare (create) a variable. Instead, we simply need to specify the name of the variable and assign it a value. There's also no need to specify the type of data that variables in Python will hold. Python is smart enough to automatically determine a variable's data type based on the value that we assign to the variable.

Here are some examples that show how to declare and assign values to variables in Python. Click on the 'Play' button next to the code cell below in order to run the code.

In [ ]:
#declare and assign a value to an variable named 'weight'
weight = 4.17

#declare and assign a value to an 'employee_name' variable. Note that when we assign a textual
#value to a variable, the text must be enclosed inside single quotes (')
employee_name = 'Sheldon'

#declare and assign values to two variables named 'age' and 'name' using just one line of code
age, name = 25, 'Aneka'

#print a status message
print('The variables were created successfully!')

The variables were created successfully!

**TASK 02**:
>Read [this page](https://www.w3schools.com/python/ref_func_type.asp) to learn about Python's `type()` function, and then write a line of code in the cell below that will determine the data type of the `weight` variable.

**QUESTION 02**:
>What is the data type of the `weight` variable?

In [ ]:
#write a line of code that will display the data type of the 'weight' variable
x = type(weight)
print(x)

<class 'float'>

### Lists in Python
In Python, we can use a `list` to store multiple data values using a single variable name. Put differently, a list can be used to hold a *collection* of different values. We use square brackets `[]` to create lists in Python. If we want to simultaneously declare a list and add items to that list, we can do so by using a comma-separated set of values. In Python, lists are allowed to hold items that have different data types. For example, it's possible to store both text and numbers in the same list.

Run the code cell below to create and populate a few different lists.

In [ ]:
#examples of lists
my_empty_list = [] #declare an empty list
numbers = [0, 1, 1, 2, 3, 5, 8] #declare a list and populate it with some numbers
names = ['Sheldon', 'Amy', 'Rajesh', 'Penny'] #declare a list and populate it with some names

#create a list that holds items of different data types
mixed_list = ['Nachos', 33, -42.7]

#print a status message
print('The lists were created successfully!')

The lists were created successfully!

**TASK 03**:
>Read [this page](https://www.w3schools.com/python/ref_func_len.asp) to learn about Python's `len()` function, and then write a line of code in the cell below that will display the number of items in the `names` list.

**QUESTION 03**:
>How many items are in the `names` list?

In [ ]:
#write a line of code that will display the number of items in the 'names' list
y = len(names)
print('The number of items in the names list contains', y, 'characters.')

The number of items in the names list contains 4 characters.

The `len()` function can also be used to determine the number of characters that appear in a string (text) variable. This can be very useful for many different text mining tasks.

Run the code cell below to determine how many characters appear in the following sentence:
>"Mr. and Mrs. Dursley, of number four Privet Drive, were proud to say that they were perfectly normal, thank you very much."

In [ ]:
#define a sentence
sentence = 'Mr. and Mrs. Dursley, of number four Privet Drive, were proud to say that they were perfectly normal, thank you very much.'

#determine how many characters appear in the sentence
number_of_characters = len(sentence)

#display the result
print('The sentence contains', number_of_characters, 'characters.')

The sentence contains 122 characters.

### Accessing List Items
Since all of the items in a list are stored in the computer's memory using just one name, we need to use each item's location in the list in order to access the value of the item. An item's location in a list is known as its *index*. Like most other programming languages, Python uses zero-based indexing, which means that the first item in a list will have an index location of zero, the second item in the list will have an index location of one, and so on. This concept is illustrated in the figure below:

![List Indexes.png]()

To access the value of a list item in Python, we simply need to specify the index of the target item inside square brackets. Run the code cell below to see an example.

In [ ]:
#define a list containing five numbers
numbers = [-3, 7, 4, 0, -2]

#print the value of the third item in the list. Note that since Python uses zero-based
#indexing, the third item in the list has an index of 2.
print('The value of the third item in the list is:', numbers[2])

The value of the third item in the list is: 4

**TASK 04**:
>Read [this page](https://www.w3schools.com/python/gloss_python_change_list_item.asp) to learn how to change the value of an item in a list, and then write a line of code in the cell below that will change the value of the fourth item in the `numbers` list to `12.1`. When you are finished, run the code cell, and note the output value that is printed to your screen.

**QUESTION 04**:
>What output value appears when you run the code cell below after changing the value of the fourth item in the `numbers` list to `12.1`? Record your answer using three decimals of precision (e.g., `376.992`).

In [ ]:
#write a line of code that will change the value of the fourth item in the 'numbers'
#list to 12.1

numbers[3]= 12.1

#print the output value to the screen
print('The output value is:', numbers[3]**3)

The output value is: 1771.561

### Adding Items to an Existing List
There are several ways to add new items to an existing list in Python. To add a new item to the end of a list, we can use the list's `append()` method. To add a new item to a specific location within a list, we can use the list's `insert()` method. The code cell below shows an example of using `append()` to add new items to the end of a list.

In [ ]:
#declare an 'animals' list, and initialize it with a few items
animals = ['cat', 'dog']

#add a few new items to the end of the list
animals.append('dragonfly')
animals.append('bonobo')

#display the contents of the 'animals' list
print(animals)

['cat', 'dog', 'dragonfly', 'bonobo']

**TASK 05**:
>Read [this page](https://www.w3schools.com/python/gloss_python_add_list_items.asp) to learn about using the `insert()` method to add a new item to a specific location within a list, and then write a line of code that will insert the value `'tortoise'` into the `animals` list at index location `2`.

**QUESTION 05**:
>What are the contents of the 'animals' list after insering the value `'tortoise'` into the list at index location `2`?

In [ ]:
#write a line of code that will insert the value 'tortoise' into the 'animals' list at index location 2

animals.insert(2,'tortoise')

#display the contents of the 'animals' list
print(animals)

['cat', 'dog', 'tortoise', 'dragonfly', 'bonobo']

### Using Tuples in Python
A *tuple* is very similar to a list, except that after a tuple has been created, its values cannot be changed.
Whereas lists in Python are declared using square brackets `[]`, tuples in Python are declared using parentheses `()`, which may also be referred to as *round brackets*. Run the code cell below to see a few examples of tuples being declared and used.

In [ ]:
#declare a few tuples
interesting_numbers = (33, 42, 55)
morning_beverages = ('Coffee', 'Juice')

#print some output
print('The "interesting_numbers" tuple contains', len(interesting_numbers), 'items.')
print(morning_beverages[-1], 'is the last item in the "morning_beverages" tuple.')

The "interesting_numbers" tuple contains 3 items.
Juice is the last item in the "morning_beverages" tuple.

**TASK 06**:
>Write a line of code below that tries to change the value of the second item in the `morning_beverages` tuple from `'Juice'` to `'Tea'`.

**QUESTION 06**:
>What happens when you attempt to change the value of the second item in the `morning_beverages` tuple from `'Juice'` to `'Tea'`?

In [ ]:
#write a line of code that attempts to change the value of the second item in the
#'morning_beverages' tuple from 'Juice' to 'Tea'

morning_beverages[1]= 'Tea'

TypeError: 'tuple' object does not support item assignment

### Using Dictionaries in Python
In Python, a *dictionary* is a named collection of key/value pairs. More specifically, each item in a dictionary consists of two parts: a *key* and the key's associated *value*. Dictionaries are very useful for storing and looking up specific values based on a known key.

Dictionaries in Python are declared using curly brackets `{}`. Like lists, items can be added to a dictionary either when it is initially declared or after it has already been declared. Run the code cell below to see a few examples of dictionaries being declared and used.

In [ ]:
#dictionary declaration examples
patient_name = {} #declaring an empty dictionary
#declaring a dictionary that holds city names (keys) and their populations (values)
city_population = {'Beijing' : 22100000, 'New York' : 8800000, 'New Delhi' : 21800000}

#using a key to get a value from a dictionary
print('The population of New York is:', city_population['New York'])

#adding values to a dictionary. In this case, the keys are patient IDs and their
#associated values are the patients' names
patient_name[33] = 'Geralt'
patient_name[42] = 'Yennefer '
patient_name[55] = 'Cirilla'
print('The name of patient 55 is:', patient_name[55])

#changing values in a dictionary
pet_age = {'Lyra' : 9, 'Scout' : 9, 'Sheldon' : 47}
pet_age['Sheldon'] = 48
print('Sheldon is', pet_age['Sheldon']) #yields 48

The population of New York is: 8800000
The name of patient 55 is: Cirilla
Sheldon is 48

**TASK 07**:
>Read [this page](https://www.w3schools.com/python/python_dictionaries_methods.asp) to learn about some of the methods that are available for working with dictionaries, and then write a line of code that will remove patient `33` from the `patient_name` dictionary.

**QUESTION 07**:
>What is the appropriate line of code to remove patient `33` from the `patient_name` dictionary?

In [ ]:
#write a line of code that will remove patient 33 from the 'patient_name' dictionary
patient_name.pop(33, None)

'Geralt'

### Mathematical Operations in Python
Python supports all common mathematical operations, as well as some less common operations. Basic mathematical operations can be performed on numbers or on variables that contain numbers. Here are some examples:

In [ ]:
a = 5              #set the value of a variable named 'a' to 5
b = a + 2          #addition. Result: 7
c = 7 - 3          #subtraction. Result: 4
d = c * 2          #multiplication. Result: 8
e = 8 / 4          #division. Result: 2.0
f = e ** 2         #exponentiation. Result: 4.0
g = 5 % 2          #modulus (returns the remainder). Result: 1
h = 7 // 3         #floor division (returns the largest integer less than or equal to the quotient). Result: 2
i = (2.4 + a) / 2  #parentheses can be used to control the order of operations. Result: 3.7

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

**TASK 08**:
>Write a line of code that will multiply `13.7` by `12.4`, and then square the result.

**QUESTION 08**:
>What is the squared product of `13.7` and `12.4`? Record your answer using three decimals of precision (e.g., 729.014)

In [ ]:
#write a line of code that will multiply 13.7 by 12.4, and then square the result
a = 13.7*12.4
d = a**2
print("{:.3f}".format(d))

28859.214

### Comparisons in Python
Python provides a complete set of comparison operators that we can use in our programs. The result of every comparison is either `True` or `False`. Examples of all of Python's comparison operators are provided in the code cell below.

In [ ]:
x = 5   #set the value of a variable named 'x' to 5
print(x == 3)  #checks whether x is equal to 3. Result: False
print(x != 7)  #checks whether x is not equal to 7. Result: True
print(x > 14)  #checks whether x is greater than 14. Result: False
print(x < 23)  #checks whether x is less than 23. Result: True
print(x >= 9)  #checks whether x is greater than or equal to 9. Result: False
print(x <= 5)  #checks whether x is less than or equal to 5. Result: True

In addition to numbers, Python's comparison operators can also be used to compare strings of text. This task is called *lexicographical comparison*. Lexicographical comparisons are based on the order in which items would appear in a dictionary. Unlike numbers, the lexicographical order of concepts can vary among different human languages. For example, in English, `'cat'` is lexicographically less than `'dog'`, but in German, `'Katze'` (cat) is lexicographically greater than `'Hund'` (dog).

**TASK 09**:
>Write a line of code in the cell below that will determine if the string `'nachos'` is less than the string `'tacos'`.

**QUESTION 09**:
>Is the string `'nachos'` lexicographically less than the string `'tacos'` in Python?

In [ ]:
#write a line of code that will determine if the string 'nachos' is less than the string 'tacos'
print('nachos' < 'tacos')

True

### Logical Operators in Python
Python provides two logical operators -- `and` and `or` -- that can be used to perform more complicated, compound comparisons. Python also provides a `not` operator that we can use to invert the results of a comparison. Examples of `and`, `or`, and `not` are provided in the code cell below.

In [ ]:
#declare and initialize some variables
x = 5
y = 10
z = 15

#test compound conditions using 'and' and 'or'
print(x > 0 and y > 0) #yields True
print(y < 0 or z > 0) #yields True
print(x < 0 or z < 0) #yields False

#invert the results of a comparison using 'not'
print(x > 0) #yields True
print(not x > 0) #yields False

**TASK 10**:
>Assume that we have three variables, defined as follows:
>
>`x, y, z = 16, -12, 8`
>
>Use the code cell below to answer the following question.

**QUESTION 10**:
>Which of the following compound conditions evaluates to `True`?
* (x - 3 * y - z**2 <= y) and (z % 2 < x)
* (z // 3 > x / z) or (not y - z < x)
* (x < y) or (y < z) or (x < z)
* ((-y + 4 == x) and (z + y < y / 3)) or (2 * z > x)

In [ ]:
#write some lines of code to determine which of the compound conditions listed
#in Question 10 evaluates to 'True'
x = 16
y = -12
z = 8

print(x - 3 * y - z**2 <= y) and (z % 2 < x)
print(z // 3 > x / z) or (not y - z < x)
print(x < y) or (y < z) or (x < z)
print((-y + 4 == x) and (z + y < y / 3)) or (2 * z > x)

True
False
False
False

False

### Defining and Using Functions in Python
A *function* is a block of code that performs a specific task. Functions only run when they are *called* from somewhere else in a Python program, and this makes them very useful when we need to perform a particular task more than once. Functions often take *arguments*, which are input values that are provided to the function so that it can perform its task. Functions also typically return some sort of result as output.

In Python, functions are defined by using the `def` keyword, followed by the name of the function, followed by parentheses that enclose the names of any arguments, followed by a colon character (`:`). After the line of code that defines a function, all other lines of code that comprise the function are indented from the left. The code cell below provides an example of a function being defined and used in Python.

In [ ]:
#define a function that calculates the area of a rectangle
def area_of_rectangle(width, height):
  return width * height

#call the function and print the result
area = area_of_rectangle(33, 147)
print('The area of the rectangle is:', area)

**TASK 11**:
>Use the code cell below to write a function that will compute the area of a right triangle, and then call your function to determine the area of a right triangle whose height is 32 and whose width is 47.
>
>![Area of a Right Triangle.png]()

**QUESTION 11**:
>What is the area of a right triangle with a height of 32 and a width of 47?

In [ ]:
#define a function that calculates the area of a right triangle
def area_of_a_right_triangle(height, width):
  return (height * width) / 2

#call the function to determine the area of a right triangle with
#a height of 32 and a width of 47

a = 32
b = 47

area = (a*b)/2

print('The area of the triangle is:', area)

The area of the triangle is: 752.0

### Using Libraries in Python
Now that we know about functions, we're ready to learn about libraries. In Python, a *library* is a pre-built collection of related functions that we can use in our own programs. There are thousands of libraries that allow us to do almost anything in Python, and this is one of the reasons that Python is so widely used. A few of the most popular Python libraries include:
* <u>NumPy</u> - Numerical Python. Adds support for arrays, matrices, and high-level mathematical functions.
* <u>Pandas</u> - Adds support for data tables, data manipulation, and basic data analysis.
* <u>SciPy</u> - Adds support for scientific and technical computing.
* <u>Scikit-Learn</u> - Adds support for machine learning, including a variety of classification, regression, and clustering algorithms.
* <u>Matplotlib</u> - Adds support for visualizing data.

The two code cells below provide examples of importing libraries into our Python program. The first example imports the entire `math` library, while the second example imports only one part of the `math` library.

In [ ]:
#import the entire 'math' library
import math

#calculate the factorial of 5 (which is equal to 5 * 4 * 3 * 2 * 1)
math.factorial(5)

In [ ]:
#import just the 'factorial' function from the 'math' library
from math import factorial

#calculate the factorial of 5
factorial(5)

**TASK 12**:
>Read [this page](https://www.w3schools.com/python/python_ml_mean_median_mode.asp) to learn about NumPy's `mean()` function, and then write some code in the cell below that will import NumPy and use its `mean()` function to compute the mean of the values in the `data` list.

**QUESTION 12**:
>What is the mean of the values in the `data` list?

In [ ]:
#declare and populate a `data` list
data = [469, 23, 744, 771, 911, 709, 884, 417, 672, 580]

#write some code that will import NumPy and use its 'mean()' function
#to compute the mean of the values in the 'data' list.

from numpy import mean

mean(data)

618.0

### Using `if` Statements in Python
In Python, `if` statements can be used to selectively run or skip one or more lines of code depending on whether a condition is `True` or `False`. Python also provides us with an `else` statement that allows one or more other lines of code to run if the condition in the `if` statement is not met. The code cells below contain a few examples of `if` and `if-else` statements.

In [ ]:
#example of an 'if' statement
message = 'Hello'
name = 'Dan' #change this value if you'd like

if name == 'Dan':
  message = 'Hey, Dan!' #this line of code only runs if the name is 'Dan'

print(message)

In [ ]:
#example of an 'if-else' statement
age = 18 #change this value if you'd like

if age < 18:
  print('Child')
else:
  print('Adult') #this line of code will run if the condition in the 'if' statement is False

We can further extend our capabilities by adding one or more `else-if` statements. In Python, the concept of 'else-if' is indicated with the keyword `elif`. Here are a few examples:

In [ ]:
#example of an 'if-elif' statement
age = 20
message = 'Adult'

if age < 13:
  message = 'Child'
elif age < 20:
  message = 'Teenager'

print(message)

In [ ]:
#example of an 'if-elif-else' statement
age = 43

if age < 13:
  print('Child')
elif age < 20:
  print('Teenager')
elif age < 30:
  print('Young Adult')
else:
  print('Adult')

It's perfectly acceptable -- and often very useful -- to include an `if` statement inside of another `if` statement. Here's an example:

In [ ]:
#example of a nested 'if' statement
age = 13
gender = 'female'

#if this is a young horse
if age < 5:
  if gender == 'female':
    print('Filly')
  else: #if this is a male
    print('Colt')
else: #if this is an adult horse
  if gender == 'female':
    print('Mare')
  else: #if this is a male
    print('Stallion')

We can also use the logicial `and` and `or` statements to test compound conditions in our `if` statements. Here's an example:

In [ ]:
#example of an 'if-elif' using multiple conditions
age = 3
gender = 'male'

if age < 5 and gender == 'female': #if this is a young, female horse
  print('Filly')
elif age < 5 and gender == 'male': #if this is a young, male horse
  print('Colt')
elif age >= 5 and gender == 'female': #if this is an adult, female horse
  print('Mare')
elif age >= 5 and gender == 'male': #if this is an adult, male horse
  print('Stallion')

**TASK 13**:
>Read [this page](https://www.w3schools.com/python/python_conditions.asp) to learn more about using `if` statements in Python, and then answer the following question.

**QUESTION 13**:
>One of the `if` examples in the web page referenced directly above begins with `x = 41`. What is the output of that example?

#Above ten,
#and also above 20!

### Using `for` Loops in Python
In Python, a `for` loop is a tool that we can use to iterate over a sequence of items. More specifically, a `for` loop will run once for each item in its associated sequence. Loops are very useful when we need to do a task repeatedly, which often occurs in text mining. For example, we may need to process each document in a collection, process each word in a sentence, or process each letter in a word. `for` loops are very useful for these purposes. The code cells below provide some examples of `for` loops.

In [ ]:
#example of a 'for' loop (iterating through a list)
names = ['Rick', 'Morty', 'Summer', 'Jerry', 'Beth']

for name in names:
  print('Hello,', name) #say 'Hello' to this person

`for` loops can also be used to iterate through each letter in a string variable, which can be useful in many text mining tasks.

Run the code cell below to iterate through a sentence and count the number of times the letter `e` appears in the sentence.

In [ ]:
#define a sentence
sentence = 'When Mr. Bilbo Baggins of Bag End announced that he would shortly be celebrating \
            his eleventy-first birthday with a party of special magnificence, there was much \
            talk and excitement in Hobbiton.'

#define a variable to keep track of the letter count
letter_count = 0

#use a 'for' loop to count the number of times the letter 'e' appears in the sentence
for letter in sentence: #for each letter in the sentence
  if letter == 'e': #if this letter is an 'e'
    letter_count = letter_count + 1 #increment the letter count

#display the results
print('The letter "e" appears', letter_count, 'times in the sentence.')

**TASK 14**:
>Read [this page](https://www.w3schools.com/python/python_for_loops.asp) to learn more about using `for` loops in Python, and then write a `for` loop in the code cell below that will compute the sum of all of the integers from 0 to 1,000. **TIP**: Be careful using the `range()` function -- the value `1000` <u>should</u> be included in the sum!

**QUESTION 14**:
>What is the sum of all of the integers between 0 and 1,000?

In [ ]:
#write a 'for' loop that will compute the sum of all of the integers
#from 0 to 1,000.

total_sum = 0
for x in range(1001):
    total_sum += x
print(total_sum)

500500

## End of Lab Assignment 01!